<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <h2>Employee Details</h2>
        <p>Employee ID: {{ object.employee_id }}</p>
        <p>Username: {{ object.username }}</p>
        <p>Mobile Number: {{ object.mobile_number }}</p>
        <p>Bank: {{ object.bank }}</p>
        <p>Account Name: {{ object.account_name }}</p>
        <p>Department: {{ object.department.name }}</p>
        <p>Account Number: {{ object.account_number }}</p>
    
        <h3 class="mt-4">Payslips</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Earnings</th>
                    <th>Bonuses</th>
                    <th>Total Deductions</th>
                    <th>Net Pay</th>
                </tr>
            </thead>
            <tbody>
                {% for payslip in object.payslip_set.all %}
                <tr>
                    <td>{{ payslip.date }}</td>
                    <td>{{ payslip.month }}</td>
                    <td>{{ payslip.year }}</td>
                    <td>{{ payslip.earnings }}</td>
                    <td>{{ payslip.bonuses }}</td>
                    <td>{{ payslip.total_deductions }}</td>
                    <td>{{ payslip.net_pay }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
