<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Welcome, {{ request.user.username }}</h2>
    
        <!-- Display the last three payslips -->
        <h3>Last 3 Payslips</h3>
        <ul class="list-group mb-4">
            {% for payslip in last_three_payslips %}
            <li class="list-group-item">
                <a href="{% url 'payslip_detail' payslip.pk %}">{{ payslip.date }}</a>
            </li>
            {% endfor %}
        </ul>
    
        <!-- Dashboard boxes -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Profile</h5>
                        <p class="card-text">View your profile details.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{#}" class="btn btn-primary btn-block">Go to Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Payslips</h5>
                        <p class="card-text">View all your payslips.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'employee_payslip_list' %}" class="btn btn-info btn-block">View Payslips</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Edit Profile</h5>
                        <p class="card-text">Update your profile details.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'update_details' %}" class="btn btn-warning btn-block">Edit Profile</a>
                    </div>
                </div>
            </div>
            <!-- Add more boxes as needed -->
        </div>
    </div>
    

</body>
</html>
